# Ignore node_modules if you have them in any frontend folders
node_modules/

# Ignore logs
*.log

# Ignore Dockerfiles (to avoid recursive copying)
Dockerfile

# Ignore .git and other unnecessary files
.git/

# Ignore local development environments
*.env
